
.html,body{
    margin: 0%;
    border: 0%;
}

.navbar{
    width: 100vw;
    height:5rem;
    background-color: rgb(36, 35, 35);
    display: flex;
   
   

}
.icons{
    display: flex;
    justify-content: start;
    text-align: start;
    height: 6rem;
    width: 100vw;
}
.items{
    height: 100%;
    width: 9rem;
    color: aliceblue;
    padding: 1rem;
   
    text-align:center;
    font-weight: bolder;
    font-size: large;
    
    
}
.firstbox{
 height: 100%;
 color: white;
 background-color: rgb(82, 82, 99);
 display: flex;
 gap:1rem;
 text-align: center;
 
}
.items:hover{
    background-color: white;
    color: black;
   
}
.secbar{
    
    height: 3rem;
    width: 100%;
    display: flex;
    gap: 4rem;
    padding: 2rem;
    padding-left: 5rem;
    
}
 .secitems{
    color: rgb(23, 23, 24);
    font-weight: bolder;
    
    
 }
 .secitems:hover{
    transform: scale(1.2);
    color: rgb(230, 15, 33);
 }
 .imagebar{
    height: 3rem;
    width: 100%;
    display: flex;
    gap: 8rem;
    padding: 2rem;
    padding-left: 5rem;
}
 img{
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
 }
 .images:hover{
    color: blue;
    
 }
 .forthbar{
    padding-top: 2rem;
 }
input{
    border: none;
}
.dropdown{
    display: none;
    position: absolute;
    height: 5rem;
    width: 100%;

}
.secitems:hover + .dropdown{
   
    height: 34rem;
    display: block;
    background-color: rgb(223, 223, 235);
    
}