
.html,body{
    margin: 0%;
    border: 0%;
}

.navbar{
    width: 100%;
    height:5rem;
    background-color: rgb(36, 35, 35);
    display: flex;
   
   

}
.icons{
    display: flex;
    justify-content: start;
    text-align: start;
    height: 6rem;
    width: 100vw;
}
.items{
    height: 60%;
    width: 9rem;
    color: aliceblue;
    padding: 1rem;
    display: flex;
    align-items: center;
    text-align:center;
    font-weight: bolder;
    font-size: large;
    
    
}
.firstbox{
 height: 100%;
 color: white;
 background-color: rgb(82, 82, 99);
 display: flex;
 gap:1rem;
 text-align: center;
 
}
.items:hover{
    background-color: white;
    color: black;
   
}
.secbar{
    position: sticky;
    height: 3rem;
    width: 100%;
    display: flex;
    gap: 4rem;
    padding: 2rem;
    padding-left: 5rem;
    top: 0%;
    background-color: white;
    
}
 .secitems{
    color: rgb(23, 23, 24);
    font-weight: bolder;
    
    
 }
 .secitems:hover{
    transform: scale(1.2);
    color: rgb(230, 15, 33);
 }
 .imagebar{
    height: 3rem;
    width: 100%;
    display: flex;
    gap: 8rem;
    padding: 2rem;
    padding-left: 5rem;
}
 img{
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
 }
 .images:hover{
    color: blue;
    
 }
 .forthbar{
    padding-top: 2rem;
 }
 .forthbar img {object-fit: cover;
 }
input{
    border: none;
}
.dropdown{
    display: none;
    position: absolute;
    height: 5rem;
    width: 100%;
    color: blue;
    left: 0%;
    font-weight: bolder;
    top: 5rem;

}
.secitems:hover + .dropdown,.dropdown:hover{
   
    height: 34rem;
    display: block;
    background-color:white;
    width: 100%;
   
    
}
.dropdown::first-line{
    color: black;
}
.locate{
    background-color: yellow;
    height: 19rem;

}
h1{
    padding-top: 2rem;
    font-weight:200 ;
    color: blue;
    padding-left: 4rem;
}
input{
    background-color: yellow;
    padding-left: 3rem;
   
    height: 3rem;
    border-color: black;
}
h2{
    color: blue;
    font-weight:bold;
    padding-left: 3rem;
}
fieldset{
    border-color: rgb(173, 156, 156);
}
.signup{
    width: 100%;
    height:17rem;
}
.sign{
    position: absolute;
    left: 15rem;
    
    padding-left: 10rem;
    width: 10rem;
    height: 18rem;
    
    background-color: rgb(245, 245, 9);
}
