
body,html{
   margin: 0;
   height: 100%;
   width: 100%;
}
body{
   background:url();
   background-size: cover;
   
}
*{
    box-sizing: border-box;
}
.nav-bar{
    height: 4rem;
    width: 100%;
    background-color: blue;
    padding: 1rem;
}
.avatar{
    height: 100%;
    border-radius: 50%;

}
.list{
    display: inline-block;
    
    height: 100%;
    background-color: yellow;
    list-style-type: none;
    padding:;
}
span{
    display: inline-block;
    color: white;
    font-size: 1.5rem;
}
.home{
    display: flex;
    height: calc(100% - 4rem);
    width: 100%;
    
    
}
.left{
    display: inline-block;
    height: 100%;
    width: 50%;
    
    padding-block: 6rem;
}
   
.right{
    display: inline-block;
    height: 100%;
    width: 50%;
    padding-inline: 2rem;
    padding-block: 5rem;
}  
.picture{
 width: 90%;
 border-radius: 15rem;
 padding-inline: 5rem;
}