*{
    box-sizing: border-box;
}
body,html{
    height: 100%;
    width:100%;
    margin: 0%;

}
p{
    padding: 2rem;
    color: white;
    background-color: blue;
}
p::first-line{
    color: red;
    font-size: 2rem;
}
h1{
    color: blue;
}
h1::first-letter{
    font-size: 4rem;
    color: green;
}
button{
    position: relative;
    height: 2rem;
    width:8rem;
    background-color: aqua;
    border: none;
    box-shadow: 5px 5px 10px black;
    transition: 1s;
}
button::after{
    content: "8";
    position: absolute;
    background-color: red;
    color: aliceblue;
    width: 1.5rem;
    height:1.5rem;
    border-radius: 50%;
    top: 0;
    right: 0;
    transform: translateX(50%) translateY(-50%);
    
}

/*button::after{
    content: "after";


}*/
button:hover{
    background-color: greenyellow;
    transform: scale(1.2);
}
button:hover::after {
    background-color:black;
}
a{
    display: block;
}
a:active{
    background-color: green;
}
a:hover{
    color: red;
}
input{
    height: 1cm;
    width: 8cm;
    
    
}
/*input:checked{
    height: 30px;
    width: 30px;
    transform: translate(10rem);
    transition: 2s;
}*/
#input1:focus{
    outline: none;
    border: 2px solid green;
    background-color: blue;
}
#input2:disabled{
    background-color: yellow;
}
#input3:enabled{
    background-color: rgb(205, 50, 166)
}
#email:invalid{
    background-color: red;
    color:white;
}
#number:in-range{
    background-color:green;
}
#number:out-of-range{
    background-color: red;
}
input:required{
    border: 2px solid blue;
}