/* .select{
    width: 100vw;
    height: 100vh;
}
[target]{
    background-color: rgb(197, 14, 14);
}
[target="_blank"]{
    background-color: rgb(20, 223, 162);
}
[title|="flowers"]{
    background-color: rgb(226, 174, 31);
}
a[href^="https"]{
    background-color: chartreuse;
}
a[href$=".pdf"]{
    background-color: chocolate;
}
a[href*="you"]{
    background-color: bisque;
}
div>div{
    background-color: yellow;
}
p+div{
    background-color: red;
}
p~div{
    background-color: cadetblue;
} */
/* .box{
    height: 4cm;
    width: 3cm;
    background-color: blueviolet;
    text-align:center;
    animation-name:clr;
    animation-duration:6s;
    animation-iteration-count: infinite;
    animation-delay: 0s;
    animation-timing-function: cubic-bezier(0.72,-0.26, 1, 0.99);
    
}
@keyframes clr {
    0%{background-color: black;
   }
    25%{background-color: blueviolet;transform: scale(2);}
    50%{background-color: burlywood;transform: scale(3);}
    75%{background-color: aquamarine;transform: scale(1);}
    100%{background-color: red;transform: scale(4);}
     */
    /* from{background-color:red;
       height:8cm;
    }
    to{background-color:blue;
    width:6cm;}
     */
    
/* } */
.box{
    height: 400px;
    width: 400px;
    background-color: aqua;
    border: 2px solid black;
    
    position: absolute;
    position:relative
}
.box2{
    height: 50px;
    width: 50px;
    background-color: black;
    animation-name: clr;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    top: 0%;
    right: 0%;
    
    transform: translate(100%,0);
    position: absolute;
    
}
@keyframes clr{
     0%{
        top: 0%;
        right: 100%;
        transform: translate(100%,0);
     }
     25%{top: 100%;
        right: 100%;
        transform: translate(100%,-100);}
     50%{
        right: 100%;
        top: 0%;
        transform: translate(0%,-100);}
     75%{top: 0%;
        right: 0%;
        transform: translate(0,0)}
     100{top: 0%;
        right: 100%;
        }
}
